{% extends "base.html" %}
{% block content %}
<form action="/sign?{{ sqp }}" method="post">
    <div><textarea name="content" rows="3" cols="60"></textarea></div>
    <div><input type="submit" value="Post Comment"></div>
    {% if comment_error %}
    <span class="error">{{ comment_error }}</span>
    {% endif %}
  </form>
  <hr>
  <form>Wall:
    <input value="{{ wallname }}" name="wall_name">
    <input type="submit" value="Switch">
  </form>
  <br>
  Logged in as: <strong>{{ username }}</strong><br>
  <a href="{{ url }}">{{ urllinktext }}</a>

  {{ postshtml |safe }}

{% endblock %}