{% extends "base.html" %}
{% block content %}
<h1 class="title">Table of Contents</h1>

<div class="section">

{% for course in courses %}
	<div class="table-of-contents-entry">
		<a class="item-title" href="#course-{{ loop.index }}">

			Course {{ loop.index }}: {{ course.title }}
		</a>
	</div>
	{% endfor %}
</div>

{% for course in courses %}
<div class="section">
	<h2 class="section-title" id="course-{{ loop.index}}">
		Course {{ loop.index }}: {{ course.title }}
	</h2>
	<p>{{ course.description }}</p>
	<ol>

	{% set course_number = loop.index %}
	{% for lesson in course.lessons %}
		<li>
			<h3>
				<a class="item-title" href="course/{{ course_number }}/#lesson-{{ loop.index }}">
					Lesson {{ loop.index }} - {{ lesson.title }}
				</a>
			</h3>
			<p>{{ lesson.description }}</p>
		</li>
	{% endfor %}
</div>
{% endfor %}

{% endblock %}